In [14]:
import pandas as p
import plotly.express as px
import matplotlib as plt

## Balancing Data Exploration

In [15]:
bal_data = pd.read_csv('data/balancing_data.csv')
bal_data.head()

,GMT Time,System Price (ESO Outturn) - GB (£/MWh),NIV Outturn (+ve long) - GB (MW),BM Bid Acceptances (total) - GB (MW),BM Offer Acceptances (total) - GB (MW),Total BSAD Volume - Turn Up - GB (MW),Total BSAD Volume - Turn Down - GB (MW),Total BSAD Volume - Total - GB (MW),"Intraday Volume (EPEX Outturn, APX, MID) - GB (MWh)"
0,2018-01-01T00:00:00,55.94,-77.05,-1833.86,1910.98,1104,-900,204,781.35
1,2018-01-01T00:30:00,55.94,-334.76,-1443.78,1778.09,1104,-900,204,655.4
2,2018-01-01T01:00:00,62.94,-219.78,-1580.12,1799.9,1104,-900,204,821.5
3,2018-01-01T01:30:00,31,286.63,-1699.05,1413.04,1104,-900,204,815.2
4,2018-01-01T02:00:00,60.81,-141.41,-1413.27,1554.31,1104,-1050,54,709.05

In [16]:
len(bal_data)

118320

In [17]:
dem_data = pd.read_csv('data/demand_load_data.csv')
dem_data.head()

,GMT Time,Loss of Load Probability - Latest - GB (),Actual Total Load - GB (MW),Demand Outturn (ITSDO) - GB (MW)
0,2018-01-01T00:00:00,0,30303,26413
1,2018-01-01T00:30:00,0,31096,27130
2,2018-01-01T01:00:00,0,30599,27378
3,2018-01-01T01:30:00,0,29402,26746
4,2018-01-01T02:00:00,0,28096,26169

In [23]:
gen_data = pd.read_csv('data/generation_data.csv')
gen_data['GMT Time'] = pd.to_datetime(gen_data['GMT Time'])
gen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118320 entries, 0 to 118319
Data columns (total 11 columns):
 #   Column                                                                            Non-Null Count   Dtype
---  ------                                                                            --------------   -----
 0   GMT Time                                                                          118320 non-null  datetime64[ns]
 1   Actual Aggregated Generation By Type - Biomass - GB (MW)                          118320 non-null  object
 2   Actual Aggregated Generation By Type - Fossil Gas - GB (MW)                       118320 non-null  object
 3   Actual Aggregated Generation By Type - Fossil Hard Coal - GB (MW)                 118320 non-null  object
 4   Actual Aggregated Generation By Type - Fossil Oil - GB (MW)                       118320 non-null  object
 5   Actual Aggregated Generation By Type - Hydro Pumped Storage - GB (MW)             118320 non-null  object
 6   Actual Aggregated Generation By Type - Hydro Run-of-River and Poundage - GB (MW)  118320 non-null  object
 7   Actual Aggregated Generation By Type - Nuclear - GB (MW)                          118320 non-null  object
 8   Actual Aggregated Generation By Type - Solar - GB (MW)                            118320 non-null  object
 9   Actual Aggregated Generation By Type - Wind Onshore - GB (MW)                     118320 non-null  object
 10  Actual Aggregated Generation By Type - Wind Offshore - GB (MW)                    118320 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 9.9+ MB

In [19]:
price_data = pd.read_csv('data/price_data.csv')